<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">


</head>

<!--<body>-->
<!--<div class="container">-->
<!--<h2>Hi <span th:utext="${userName}"></span>, this is the home page.</h2>-->
<!--<a th:href="@{/logout}">Sign out</a>-->
<!--</div>-->

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="">Dzienniczek</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </div>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/home/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>Twoje preferencje</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="/user/weight">Waga</a>
                <a class="dropdown-item" href="/user/makro">Kcal</a>
                <a class="dropdown-item" href="/user/product">Produkty</a>
            </div>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/user/diary">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Dzienniczek</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Hi <span th:utext="${userName}"></span></li>
            </ol>



            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Dodaj nowy produkt
                </div>
                <div class="card-body">

                    <!--https://www.bootply.com/jrNvaahcOh-->
                    <div class="container-fluid">
                        <form class="form-horizontal" role="form" method="POST" th:action="@{/user/diary}" th:object="${diary}">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="product" class="col-md-12 control-label">Wybierz produkt:</label>
                                        <div class="col-md-12">
                                            <!--<input type="email" class="form-control" id="inputEmail" placeholder="Nazwa produktu">-->
                                            <select id="product" name="product" class="browser-default custom-select" size="4" >
                                                <option th:each="productList : ${allProductList}" th:value="${productList.id}" th:text="${productList.name}">
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="weight" class="col-md-12 control-label">Ilość [g]:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="weight" name="weight" placeholder="Ilość [g]:">
                                        </div>
                                    </div>
                                </div>

                            </div><!-- /.row this actually does not appear to be needed with the form-horizontal -->

                            <div class="row">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn-ld btn-primary ">Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>
            </div>



            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Historia dzienniczka</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Nazwa</th>
                                <th>Ilosc</th>
                                <th>Akcja</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Data</th>
                                <th>Nazwa</th>
                                <th>Ilosc</th>
                                <th>Akcja</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="diaryList : ${allDiaryList}">
                                <td th:text="${diaryList.date}"></td>
                                <td th:text="${diaryList.product.name}"></td>  <!--"data-department=${user.department!=null}?${user.department.name}:'not specified'"-->
                                <td th:text="${diaryList.weight}"></td>
                                <td> <button type="button" th:id="@{'' + ${diaryList.id}}" class="btn btn-primary btn-sm btnDelete">Usuń</button> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>
        <!-- /.container-fluid -->






        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Damian Tracz 2018</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>









<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>
<!-- Demo scripts for this page-->
<script src="/js/demo/datatables-demo.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>


<script>

    $(".btnDelete").click(function() {
        $.ajax({
            url: '/user/diary/'+this.id,
            type: 'DELETE',
            success: function(result) {
                location.reload();
            }
        });
    });

</script>

</body>
</html>