<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main-home.css">


</head>

<body>

<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#home">Home</a></li>
                    <li><a href="/login">Logowanie</a></li>
                    <li><a href="/registration">Rejestracja</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h1>
                    Dzienniczek Kalorii
                </h1>
                <p class="text-white">
                    Damian Tracz
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Zaloguj się</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->



<script src="/vendor/jquery/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!--<script src="js/vendor/bootstrap.min.js"></script>-->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script> -->
<!-- <script src="js/easing.min.js"></script>			 -->
<!-- <script src="js/hoverIntent.js"></script> -->
<!-- <script src="js/superfish.min.js"></script>	 -->
<!-- <script src="js/jquery.ajaxchimp.min.js"></script> -->
<!-- <script src="js/jquery.magnific-popup.min.js"></script>	 -->
<!-- <script src="js/owl.carousel.min.js"></script>			 -->
<!-- <script src="js/jquery.sticky.js"></script> -->
<!-- <script src="js/jquery.nice-select.min.js"></script>			 -->
<!-- <script src="js/parallax.min.js"></script>	 -->
<!-- <script src="js/mail-script.js"></script>	 -->
<script src="js/main-home.js"></script>
</body>
</html>
